body {
    text-align: center;
    background-color: green;
}

button {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 6px;
    border: none;
    display: none;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
    background-color: #bda0a0;
}

button:active,
button:focus {
    outline: none;
}

#card-container {
    margin-top: 80px;
}

#card-container>img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}